*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  height: 100%;
  background-color:#111;
}

h1{
  font-size: 3rem;
  font-weight: 50;
  margin: 1rem 0 3rem;
  text-align: center;
  font-weight:800;
  color: lime;
  font-family: 'Hind', sans-serif;
}
.item{
  display: flex;
  justify-content: center;
  align-content:center;
  text-align: center;
}
.item .input_text{
padding:0.5rem 1rem;
height: 50px;
outline:none;
border:none;
background-color: #fff;
width: 450px;
font-size: 1.15rem;
margin: 0.25rem;
border-radius: 25px;
}
.task-update{
  padding:0.5rem 1rem;
height: 40px;
outline:none;
border:none;
background-color: #ffffff;
width: 450px;
font-size: 1.15rem;
margin: 0.25rem;
border-radius: 25px;
}

.editButton{
  height: 50px;
  width:50px;
  border-radius: 25px;
  outline: none;
  border:none;
  background-color: #fff;
  color: rgb(7, 7, 7);
  margin: 0.25px;
  cursor: pointer;
}

.editButton:hover{
  opacity: 0.7;
}

.count{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 1rem;
  padding:0.2rem;
  margin-bottom: 1.2rem;
  border-bottom: 4px solid #fff;
}

.text{
  background: none;
  outline:none;
  color:#fff;
  border: none;
  width: 400px;
  font-size: 1.4rem;
}

.completeItem{
  font-size: 1.4rem;
  margin: 0 0.75rem;
  font-family: 'Hind', sans-serif;
  background: none;
  outline: none;
  color: lime;
  border: none;

}
.deleteItem{
  font-size: 1.4rem;
  margin: 0 0.75rem;
  font-family: 'Hind', sans-serif;
  background: none;
  outline: none;
  color: lime;
  border: none;
}

